{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url('{{ .image_webp | absURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
				<!-- this image is for trigger this section fallback background image -->
				<img src="{{ .image_webp | absURL }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>{{ .title | markdownify }}</h2>
					<p>{{ .content | markdownify }}</p>
					<div class="row">
						<div class="col-lg-6">
							<div class="media">
								<div style="display: flex; justify-content: space-between;">
									<!-- 注释掉
									<div style="text-align: center;">
										<img src="{{ $data.feature.feature.feature_image1 | absURL }}" alt="Feature Image 1" style="max-width: 55%; display: block; margin: 0 auto;">
										<p style="color: white; font-size: 1.2em;">{{ .join_message1 }}</p>

									</div>
									<div style="text-align: center;">
										<img src="{{ $data.feature.feature.feature_image2 | absURL }}" alt="Feature Image 2" style="max-width: 80%; display: block; margin: 0 auto;">
										<p style="color: white; font-size: 1.2em;">{{ .join_message2 }}</p>
									</div>
									-->
									<div class="all-post text-center col-lg-12">
										<a class="btn btn-main" href="{{ .button_link }}">{{ .button_text }}</a>
									</div>
									<div class="all-post text-center col-lg-12">
										<a class="btn btn-main" href="{{ .button_link1 }}">{{ .button_text1 }}</a>
									</div>
									<div class="all-post text-center col-lg-12">
										<a class="btn btn-main" href="{{ .button_link2 }}">{{ .button_text2 }}</a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
