{{ $data := index site.Data site.Language.Lang }}

{{ if $data.qrcode.qrcode.enable }}
{{ with $data.qrcode.qrcode }}
{{ if .button.enable }}
{{ with .button }}
<div style="text-align: center; margin-top: 40px;">
	<img src="{{ $data.qrcode.qrcode.qrcode_image1 | absURL }}" alt="QR Code Image 1" style="max-width: 14%; display: block; margin: 0 auto;">
	<p style="color: white; font-size: 1.2em;">{{ .join_message1 }}</p>
</div>
<div style="text-align: center; margin-top: 40px;">
	<img src="$data.qrcode.qrcode.qrcode_image2" alt="QR Code Image 2" style="max-width: 14%; display: block; margin: 0 auto;">
	<p style="color: white; font-size: 1.2em;">{{ .join_message2 }}</p>
</div>
{{ end }}
{{ end }}
{{end}}
{{end}}